@charset "UTF-8";

/* Paletas de Cores 
rgb(22,92,125)
rgb(207,222,228)
rgb(0,169,206)
*/


@media screen and (min-width: 801px) and (max-width: 999px)  { 




* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

body {
    
    background-color: rgb(207,222,228);
}

header {
    width: 100vw;
    height: 82px;

    background-color: rgb(22,92,125);

}

header > nav > img {
    margin-top: 10px;
    margin-left: 30px;

}

header > nav > p {
    position: relative;
    text-align: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -220%);
    font-size: 14px;
    
    color: white;
}


section {
    display: block;
    position: relative;
    margin-left: 70px;
    margin-top: 40px;
    border-radius: 5px;
    width: 700px;
    height: 415px;
    
    background-color: white;
}

ul {
    padding: 15px;
    vertical-align: middle;
}

li {
    display: inline-flex;
  
}

span {
    position: relative;
 
    color: #7e7d7d;
    font-weight: bolder;
    vertical-align: middle;
    
    font-size: 18px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
   
}

#icone1 {
    color: #7e7d7d;
 
}

#icone2 {
    color: #7e7d7da9;

}

#icone3 {
    color: #7e7d7d4f;
}

#frase2 {
    font-weight: 450;
    color: #7e7d7da9;
}

#frase3 {
    font-weight: 450;
    color: #7e7d7db6;
}

#flecha {
    
   vertical-align: text-top;
}



form {

}

footer {
    width: 100vw;
    height: 120px;

    font-family: 'Open Sans',sans-serif;
    padding: 5px;
    font-size: 14px;
    font-weight: 700;
  
    background-color: rgb(22,92,125);
    
}

div#fundo {
    width: 100vw;
    height: 76vh;
    background-color: rgb(207,222,228);


}


hr#login {
    border: 0;
    border-top: 1px solid rgb(207, 207, 207);
    margin-left: 10px;
    width: 670px;
    
}

.etapas {
    background-color: rgb(0, 0, 0);
    padding: 5px;

}



p#recaptcha {
    display: none;
   
}





input#botentrar {
    position: relative;
    left: 68%;
    margin-top: 15px;
    margin-left: 10px;

    height: 40px;
    width: 80px;

    background-color: rgb(0,169,206);
    color: white;

    border: none;
    border-radius: 30px;
    font-weight: bolder; 
    
}

input#botentrar:hover {
    background-color: rgb(75, 200, 228);
    cursor: pointer;
   
}

label#acesso {
    display: block;
    text-align: left;
    margin-left: 170px;
    

    margin-top: 48px; 

    font-size: 12px;
    font-weight: bolder;
    font-family: 'Open Sans',sans-serif;
    color: rgb(18, 81, 110);
}


#digite {
   
    width: 400px;
    height: 40px;
    
    padding: 10px;
    margin-top: 10px;

    border: 1px solid #b6b7b9;
    margin-top: 15px;
    margin-left: 170px;
       
    display: block;
    
    font-size: 14px;
    
 
}

.botaofooter {
    display: inline-flex;
    width: 150px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    padding: 20px;
}

#botaofooter2 {
  
    
}

.spanfooter {
    display: inline-flex;
    margin-top: 20px;
    padding: 4px;
   
    color: white;
     
    height: 40px;
    width: 140px;
    
    text-decoration: none;
   
    border: 2px solid rgba(255, 255, 255, 0.603);
    border-radius: 20px;
    text-align: center;
    cursor: pointer;
    font-size: small;
}

span.spanfooter:hover {
    background-color: rgb(13, 42, 48);
}

.linkfooter {
   
}
a.linkfooter {
    
    
    font-weight: 500;
    text-decoration: none;
    color: white; 
    
    
}


#cadeado {
   color: rgba(255, 255, 255, 0.781);
    vertical-align: middle;
   
}


#talkwe {
    
    vertical-align: middle;
    margin-left: 10px;
    color: rgba(255, 255, 255, 0.884);
}

#iconeajuda{
   padding: 12px;
}

div#ajuda {
    cursor: pointer;
    position: fixed;
    z-index: auto;
    bottom: 40px;
    right: 18px;
    width: 50px;
    height: 50px;
    background-color: rgb(0,169,206);
    border-radius: 50%;
}



div#ajuda:hover {
    height: 50px;
    width: 150px;
    border-radius: 50px;
    transition: 0.5s;
 
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 300,
    'GRAD' 0,
    'opsz' 20
  }


}

