@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body {
    position: absolute;
    background-image: linear-gradient(to right, white , purple);
}

section.login {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
